<div class="overallContainer">
    <div class="content">
        <span>
            <div class="headline">
                <div class="headlineText1">
                    <p>FULLSTACK</p>
                    <div class="underline"></div>
                </div>
                <div class="headlineText2">
                    <p>DEVELOPER</p>
                </div>
                <p class="headlineP">{{greetingMessage}}</p>
            </div>
        </span>
        <span>
            <img src="assets/img/programming.jpg" alt="">
        </span>
    </div>
    <div class="arrowDiv">
        <img src="assets/img/arrow-down.png" alt="">
    </div>
</div>


