<div class="overallContainer">
  <video class="video" src="assets/video/programming.mp4" autoplay muted loop playsinline></video>
  <div class="content">
    <div class="headline">
      <div class="headlineText1">
        <p class="textAnimationStartLeft">FULLSTACK</p>
        <div class="underline"></div>
      </div>
      <div class="headlineText2">
        <p class="textAnimationStartRight">DEVELOPER</p>
      </div>
      <p class="headlineP">{{greetingMessage}}</p>
    </div>
    <img src="assets/img/cartoon.png" alt="">
  </div>
  <div class="arrowDiv">
    <img src="assets/img/arrow-down.png" alt="">
  </div>
</div>
