<div class="content">
    <span class="headline-span">
        <span class="socialmedia">
            <div class="line"></div>
            <img src="assets/img/Linkedinbutton.png" alt="Linkedinbutton">
            <img src="assets/img/Githubbutton.png" alt="Github">
            <img src="assets/img/Emailbutton.png" alt="Email">
        </span>
        <span class="myPortfolio"><p>MEIN</p><p>|</p><p>PORTFOLIO</p></span>
        
    </span>
    <span>
        <nav class="navbar">
            <span>
                <p> < </p><p>ÜBER MICH</p><p> > </p>
            </span>
            <span><p> < </p><p>FÄHIGKEITEN</p><p> > </p>
            </span>
            <span><p> < </p><p>PROJEKTE</p><p> > </p>
            </span>
            <span><p> < </p><p>KONTAKT</p><p> > </p>
            </span>
        </nav>
    </span>
</div>