.content {
  display: flex;
  justify-content: space-between;
  color: rgb(243, 249, 248);
  position: fixed;
  width: 100%;
  z-index: 100;

}

.headline-span {
  display: flex;
}

.myPortfolio {
  padding: 0px 10px 10px 10px;
  display: flex;
  height: 20px;
  background-color: #151515;
  border-radius: 0px 0px 10px 10px;
  filter: blur(8px);
  animation: removeBlur 1.5s forwards;
  font-size: 28px;

  :nth-child(2) {
    padding: 0px 3px;
    color: rgb(61, 207, 182);
  }
}

.socialmedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  filter: blur(8px);
  animation: removeBlur 1.5s forwards;
  background-color: #151515;
  border-radius: 0px 0px 10px 10px;
  padding: 2px;

  img {
    transition: filter .2s ease-in-out;

    &:hover {
      cursor: pointer;
      filter: sepia(1) saturate(6) hue-rotate(120deg) brightness(0.9);
    }
  }
}

.line {
  background-color: white;
  width: 1px;
  height: 50px;
}

.navbar {
  display: flex;
  gap: 6px;
  padding: 8px;
  background-color: #151515;
  border-radius: 0px 0px 0px 10px;
  filter: blur(8px);
  animation: removeBlur 1.5s forwards;
  font-size: 18px;

  span {
    display: flex;
    padding-right: 6px;
    gap: 3px;
    cursor: pointer;
    transition: color ease-in-out .2s;

    :first-child {
      color: #3DCFB6;
    }

    :last-child {
      color: #3DCFB6;
    }

    &:hover {
      color: #3DCFB6;
    }
  }
}



/* Animation to remove the blur */
@keyframes removeBlur {
  0% {
    filter: blur(8px);
  }

  100% {
    filter: blur(0);
  }
}

header {
  transition: opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
}

header:not(.hidden) {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1130px) {
  .navbar {
    display: none;
  }

}

@media (max-width: 875px) {
  .myPortfolio {
    font-size: 22px;
  }

  .navbar {
    font-size: 12px;
  }

  .line {
    height: 25px;
  }
}

@media (max-width: 670px) {
  .navbar {
    flex-direction: column;
    gap: 12px;
  }
}

@media (max-width: 400px) {

  .myPortfolio {
    border-radius: 0px 0px 10px 0px;
    font-size: 20px;
  }

  .headline-span {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  .socialmedia {
    flex-direction: unset;
    width: 105px;
  }

  .line {
    display: none;
  }
}


//--Burger-Btn--//

.burger-btn {
  display: none;
  top: 50px;
  right: 0;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 50px;
  cursor: pointer;

  @media (max-width: 1130px) {
    display: unset;
  }

  @media (max-width: 600px) {
    width: 35px;
  }
}

.burger-btn:before,
.burger-btn:after,
.burger-btn div {
  background: #fff;
  content: "";
  display: block;
  height: 6px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;

  @media (max-width: 600px) {
    height: 4px;
  }
}

.burger-btn.clicked:before {
  transform: translateY(12px) rotate(135deg);
  background-color: #3DCFB6;
}

.burger-btn.clicked:after {
  transform: translateY(-12px) rotate(-135deg);
  background-color: #3DCFB6;
}

.burger-btn.clicked div {
  transform: scale(0);
}


.resp-menu-container {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  background-color: rgba(21, 21, 21, 0.8);
  top: 0;
  left: 100%;
  right: 0;
  height: 100vh;
  z-index: -1;
  width: 100%;
  transition: left 0.5s ease;

  :active {
    left: 0;
  }

  a {
    cursor: pointer;
    font-size: 23px;
    text-decoration: none;
    color: white;
    padding-bottom: 20px;

    &:hover {
      color: #3DCFB6;
    }
  }

  @media(max-width: 1130px) {
    display: flex;
  }

}

.active-menu {
  left: 0;
}
