.content {
  display: flex;
  justify-content: space-between;
  color: rgb(243, 249, 248);
  position: fixed;
  width: 100%;
  z-index: 100;

}

.headline-span {
  display: flex;
  padding: 0px 8px;
}

.myPortfolio {
  padding: 2px;
  display: flex;
  height: 20px;
  background-color: #151515;
  border-radius: 0px 0px 10px 10px;

  :nth-child(2) {
    padding: 0px 3px;
    color: rgb(61, 207, 182);
  }
}

.socialmedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.line {
  background-color: white;
  width: 1px;
  height: 50px;
}

.navbar {
  display: flex;
  padding: 8px;
  background-color: #151515;
  border-radius: 0px 0px 0px 10px;

  span {
    display: flex;
    padding-right: 6px;
    gap: 3px;

    :first-child {
      color: rgb(61, 207, 182);
    }

    :last-child {
      color: rgb(61, 207, 182);
    }
  }
}
