.content {
  display: flex;
  justify-content: space-between;
  color: rgb(243, 249, 248);
  position: fixed;
  width: 100%;
  z-index: 100;

}

.headline-span {
  display: flex;
}

.myPortfolio {
  padding: 0px 10px 10px 10px;
  display: flex;
  height: 20px;
  background-color: #151515;
  border-radius: 0px 0px 10px 10px;
  filter: blur(8px);
  animation: removeBlur 1.5s forwards;
  font-size: 28px;

  :nth-child(2) {
    padding: 0px 3px;
    color: rgb(61, 207, 182);
  }
}

.socialmedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  filter: blur(8px);
  animation: removeBlur 1.5s forwards;
  background-color: #151515;
  border-radius: 0px 0px 10px 10px;
  padding: 2px;

  img {
    transition: filter .2s ease-in-out;

    &:hover {
      cursor: pointer;
      filter: sepia(1) saturate(6) hue-rotate(120deg) brightness(0.9);
    }
  }
}

.line {
  background-color: white;
  width: 1px;
  height: 50px;
}

.navbar {
  display: flex;
  gap: 6px;
  padding: 8px;
  background-color: #151515;
  border-radius: 0px 0px 0px 10px;
  filter: blur(8px);
  animation: removeBlur 1.5s forwards;
  font-size: 18px;

  span {
    display: flex;
    padding-right: 6px;
    gap: 3px;
    cursor: pointer;

    :first-child {
      color: rgb(61, 207, 182);
    }

    :last-child {
      color: rgb(61, 207, 182);
    }
  }
}



/* Animation to remove the blur */
@keyframes removeBlur {
  0% {
    filter: blur(8px);
  }

  100% {
    filter: blur(0);
  }
}

header {
  transition: opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden; /* Unsichtbar, wenn nicht sichtbar */
}

header:not(.hidden) {
  opacity: 1;
  visibility: visible; /* Sichtbar, wenn sichtbar */
}
