.content {
    width: 100%;
    border-top: 2px solid white;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    p{
        margin: 8px;
    }
   

}