<div class="content">
  <div class="headline">
    <div>
      <h2>ÜBER MICH</h2>
      <div class="underline"></div>
    </div>
  </div>
  <div class="AboutMeSpan" #aboutme>
    <img src="/assets/img/programmieren.jpg" alt="">
    <p>Willkommen auf meiner Webseite! Ich bin Fullstack-Entwickler mit Schwerpunkt auf JavaScript und Angular im
      Frontend sowie Python und Django im Backend. Ich lebe in Wien, meiner Heimatstadt, in der ich schon mein ganzes
      Leben verbracht habe.
      Im weiteren Verlauf der Webseite erfährst du mehr über meine Solo- und Teamprojekte, darunter Videoplattform,
      Business-Apps und ein Jump-and-Run-Spiel.</p>
  </div>

</div>
