<div class="content">
    <span class="hexagon-container">
        <div class="hexagon">
            <img src="/assets/img/smallPicture02.png" alt="">
        </div>
    </span>
    <span class="AboutMeSpan">
        <h2>ÜBER MICH</h2>
        <div class="underline"></div>
        <p>Willkommen auf meiner Webseite! Ich bin Fullstack-Entwickler mit Schwerpunkt auf JavaScript und Angular im Frontend sowie Python und Django im Backend. Ich lebe in Wien, meiner Heimatstadt, in der ich schon mein ganzes Leben verbracht habe. 
            Im weiteren Verlauf der Webseite erfahren Sie mehr über meine Solo- und Teamprojekte, darunter Videoplattform, Business-Apps und ein Jump-and-Run-Spiel.</p>
    </span>

</div>
