<div class="content">
  <div class="headline">
    <div>
      <h2>PROJEKTE</h2>
      <div class="underline"></div>
    </div>
  </div>

  <div class="imgContainer">
    <div class="textContent">
      <h1>VIDEOFLIX</h1>
      <h3>Angular | Django | HTML</h3>
      <p>Eine Videoplattform, die es Administratoren ermöglicht, Videos hochzuladen und Nutzern, diese bequem
        anzuschauen. Die Plattform wird durch ein Django-Backend unterstützt
        und bietet eine benutzerfreundliche
        Oberfläche. Perfekt für die Verwaltung und das Streamen von Inhalten in einer sicheren und skalierbaren
        Umgebung
      </p>
      <div class="btn-div">
        <a href="https://videoflix.walter-doni.at/" target="_blank">Test</a>
        <a href="https://github.com/WalterDoni/Videoflix-Frontend" target="_blank">Frontend</a>
        <a href="https://github.com/WalterDoni/Videoflix-Backend-live" target="_blank">Backend</a>
      </div>
    </div>
    <div class="imageContent">
      <img src="assets/img/DaBubble.png" alt="">
    </div>
  </div>

  <div class="imgContainer">
    <div class="textContent">
      <h1>DaBubble</h1>
      <h3>Angular | Typescript | Firebase</h3>
      <p>Chat-Messenger inspiriert durch Slack. Der Gruppenchats, Direktnachrichten und eine Suchleiste bietet.
        Registrieren Sie sich, nutzen Sie den Gäste-Login oder einfach mit dem Google-Konto einloggen.
      </p>
      <div class="btn-div">
        <a href="https://dabubble.walter-doni.at/" target="_blank">Test</a>
        <a href="https://github.com/WalterDoni/DaBubble" target="_blank">Code</a>
      </div>
    </div>
    <div class="imageContent">
      <img src="assets/img/DaBubble.png" alt="">
    </div>
  </div>

  <div class="imgContainer">
    <div class="textContent">
      <h1>Fantasy Kingdom</h1>
      <h3>Javascript | HTML | CSS</h3>
      <p>Ein simples Jump-and-Run Spiel basierend auf Objektorientierung. Hilf dem Ritter das Böse zu besiegen.
      </p>
      <div class="btn-div">
        <a href="https://fantasy-kingdom.walter-doni.at/" target="_blank">Test</a>
        <a href="https://github.com/WalterDoni/Fantasy-Kingdom" target="_blank">Code</a>
      </div>
    </div>
    <div class="imageContent">
      <img src="assets/img/Fantasy.png" alt="">
    </div>
  </div>

  <div class="imgContainer">
    <div class="textContent">
      <h1>JOIN</h1>
      <h3>Javascript | HTML | CSS</h3>
      <p>Aufgabenmanager nach dem Vorbild des Kanban-Systems. Erstellen und organisieren von Aufgaben mit
        Hilfe
        von Drag and Drop-Funktionen, Benutzer und Kategorien zuweisen.
      </p>
      <div class="btn-div">
        <a href="https://join.walter-doni.at/" target="_blank">Test</a>
        <a href="https://github.com/WalterDoni/Join" target="_blank">Code</a>
      </div>
    </div>
    <div class="imageContent">
      <img src="assets/img/Join.png" alt="">
    </div>
  </div>

  <div class="imgContainer">
    <div class="textContent">
      <h1>Simple-CRM</h1>
      <h3>Angular | Typescript | Firebase | MaterialDesign</h3>
      <p>Customer Relationship Management System. Erstelle und bearbeite Kunden. Beobachte die gesamte Kaufkraft pro
        Unternehmen.</p>
        <div class="btn-div">
          <a href="https://simple-crm.walter-doni.at/" target="_blank">Test</a>
          <a href="https://github.com/WalterDoni/simple-CRM" target="_blank">Code</a>
        </div>
    </div>
    <div class="imageContent">
      <img src="assets/img/simple-crm.jpg" alt="">
    </div>
  </div>



</div>
