<div class="content">
    <div class="headline">
        <div>
            <h2>PROJECTS</h2>
            <div class="underline"></div>
        </div>
    </div>
    <div class="imgLeftContainer">
        <img src="assets/img/DaBubble.png" alt="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda recusandae explicabo quos nisi cupiditate
            veniam cumque incidunt officiis, obcaecati ab illo, tempora eaque rem voluptatum? Commodi minus est iure
            impedit!</p>
    </div>

    <div class="imgRightContainer">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis rerum ipsam dolore voluptatem
            consequatur autem aliquam error enim aut, repudiandae ratione labore, ducimus voluptatum ea, quod impedit
            maxime ad mollitia.
        </p>
        <img src="assets/img/DaBubble.png" alt="">
    </div>

    <div class="imgLeftContainer">
        <img src="assets/img/Fantasy.png" alt="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda recusandae explicabo quos nisi cupiditate
            veniam cumque incidunt officiis, obcaecati ab illo, tempora eaque rem voluptatum? Commodi minus est iure
            impedit!</p>
    </div>

    <div class="imgRightContainer">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis rerum ipsam dolore voluptatem
            consequatur autem aliquam error enim aut, repudiandae ratione labore, ducimus voluptatum ea, quod impedit
            maxime ad mollitia.
        </p>
        <img src="assets/img/Join.png" alt="">
    </div>

    <div class="imgLeftContainer">
        <img src="assets/img/simple-crm.jpg" alt="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda recusandae explicabo quos nisi cupiditate
            veniam cumque incidunt officiis, obcaecati ab illo, tempora eaque rem voluptatum? Commodi minus est iure
            impedit!</p>
    </div>

</div>
