.content {
  color: rgb(243, 249, 248);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.headline {
  width: 100%;
  color: rgb(243, 249, 248);
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 44px;

  div {
    width: 300px;
  }
}

.underline {
  background-color: #3DCFB6;
  height: 3px;
  width: 50px !important;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0px 0px 0px;


  div {
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;

    h1,
    h3 {
      color: #3DCFB6;
    }
  }

  img {
    width: 85%;
    height: 100%;
    border: 2px ridge #3DCFB6;
    border-radius: 8px;
    opacity: 1;
    transition: opacity 0.5s ease;


    &:hover {
      opacity: 0;
    }
  }

  p {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;

  .textContent,
  .imageContent {
    position: absolute;
    top: 5px;
    width: 700px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity .7s ease, filter .7s ease; // Filter-Übergang für Blureffekt
    flex-direction: column;
    gap: 8px;

    h1,
    h3 {
      color: #3DCFB6;
    }

    p {
      display: flex;
      width: 85%;
      align-items: center;
      justify-content: center;

    }

    img {
      width: 85%;
      height: 100%;
      border: 2px ridge #3DCFB6;
      border-radius: 8px;
    }
  }

  .textContent {
    opacity: 0;
    z-index: 1;
    backdrop-filter: blur(5px);

  }

  &:hover .textContent {
    opacity: 1;
  }

  .imageContent {
    opacity: 1;
    filter: blur(0);
  }

  &:hover .imageContent {
    opacity: 0.4;
    filter: blur(8px);
  }
}

.btn-div {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  flex-direction: unset !important;
  height: unset !important;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border: 2px ridge #3DCFB6;
    border-radius: 8px;
    width: 100px;
    height: 30px;
    transition: background-color ease-in-out .2s, color ease-in-out .2s;
    cursor: pointer;

    &:hover {
      background-color: #3DCFB6;
      color: white;
      cursor: pointer;
    }
  }
}

@media (max-width: 1130px) {
  .headline {
    display: flex;
    align-items: center;

    div {
      width: unset;
    }
  }
}

@media (max-width: 730px) {

  .imageContent {
    width: 400px !important;
    height: 250px !important;

    img {
      width: 100% !important;
    }
  }

  .textContent {
    width: 400px !important;
    height: 250px !important;
    gap: 4px!important;

    h1 {
      font-size: 28px;
    }
    h3 {
      font-size: 18px;
    }
    p{
      font-size: 14px;
    }
  }

  .btn-div {

    a {
      width: 90px;
      height: 25px;
    }
  }

  .imgContainer {
    width: 100%;
    height: 280px;

  }

  .content {
    padding-bottom: 16px;
  }
}

@media (max-width: 640px) {

  .headline {
    div {
      h2 {
        font-size: 22px;
      }
    }
  }

  .underline {
    width: 40px !important;
  }

}

@media (max-width: 430px) {

  .textContent,
  .imageContent {
    width: 90% !important;
    height: 220px !important;
  }

  .imgContainer {
    height: 210px;
  }
}

@media (max-width: 400px) {

  .textContent,
  .imageContent {
    height: 200px !important;
  }
}
