.content {
  color: rgb(243, 249, 248);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.headline {
  width: 100%;
  color: rgb(243, 249, 248);
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
}

.underline {
  background-color: #3DCFB6;
  height: 3px;
  width: 50px;
}

.imgLeftContainer {
  display: flex;
  padding: 16px 0px 40px 0px;
  gap: 8px;

  div {
    padding-left: 16px;
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: start;

    h1,h3 {
      color: #3DCFB6;
    }
  }

  img {
    width: 300px;
    height: 200px;
    border: 2px ridge #3DCFB6;
    border-radius: 8px;
  }

  p {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.imgRightContainer {
  display: flex;
  padding: 16px 0px 0px 
  0px;
  gap: 8px;

  div {
    padding-right: 16px;
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: start;

    h1,h3 {
      color: #3DCFB6;
    }
  }

  img {
    width: 300px;
    height: 200px;
    border: 2px ridge #3DCFB6;
    border-radius: 8px;
  }

  p {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}