<div class="content">
  <span class="img-span">
    <img src="/assets/img/questions1.png" alt="">
  </span>
  <span class="contact-span">
    <div class="headline">
      <div>
        <h2>KONTAKT</h2>
        <div class="underline"></div>
      </div>
    </div>
    <div class="form-div">
      <div class="resp80percant"><h3 class="text-underline">Noch Fragen oder gefallen dir meine Projekte? Dann schreib mir doch einfach eine E-Mail.</h3></div>
      <form (ngSubmit)="sendMail()" class="contact-form">
        <div>
          <h3>Name*</h3>
          <input type="text" placeholder="Name..."  [(ngModel)]="name" name="name" required>
          <h3>Email*</h3>
          <input type="email" placeholder="E-Mail-Adresse..."  [(ngModel)]="email" name="email" required>
          <h3>Nachricht*</h3>
          <textarea type="text" placeholder="Nachricht..."  [(ngModel)]="message" name="message" required></textarea>
        </div>
        <div class="btn-div">
          <button>Senden</button>
        </div>
      </form>
    </div>
  </span>
</div>
