.content {
  width: 100%;
  display: flex;
  position: relative;
}

.headline {
  width: 100%;
  color: rgb(243, 249, 248);
  font-size: 24px;

  flex-direction: column;
  padding-bottom: 50px;
}

.underline {
  background-color: #3DCFB6;
  height: 3px;
  width: 50px;
}

.form-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 16px;


  form {
    padding-top: 16px;
  }

  h3 {
    color: white;
  }
}

.text-underline {
  text-decoration-line: underline;
  text-decoration-color: #3DCFB6;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 16px;

  div {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;

    button {
      padding: 8px 16px;
      border-radius: 8px;
    }
  }
}

input {
  height: 15px;
  border: 2px ridge #3DCFB6;
  border-radius: 6px;
  padding: 8px;

  &::placeholder {
    color: #151515;
  }
}

textarea {
  height: 300px;
  border: 2px ridge #3DCFB6;
  border-radius: 6px;
  max-width: 1000px;
}

.img-span {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  gap: 8px;
  font-size: 24px;

  img {
    width: 80%;
    max-width: 600px;
    height: 70%;
    border: 2px ridge #3DCFB6;
    border-radius: 8px;
    object-fit: contain;
  }
}

.contact-span {
  width: 50%;
}

.btn-div {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    background-color: #3DCFB6;
    border: 2px ridge #3DCFB6;
    color: white;
    border-radius: 8px;
    transition: background-color ease-in-out .2s, color ease-in-out .2s;

    &:hover {
      background-color: #1ba08a;
      color: rgb(31, 31, 31);
      cursor: pointer;
    }

    &:disabled {
      background-color: #e9ecef;
      color: #6c757d;
      border: 2px solid #e9ecef;
      pointer-events: none;
      cursor: not-allowed;
    }
  }
}

@media (max-width: 1460px) {
  .resp80percant {
    width: 80%;
  }
}

@media (max-width: 940px) {

  .content {
    justify-content: center;
  }

  .img-span {
    display: none;
  }

  .contact-span {
    width: 100%;
  }

  .headline {
    display: flex;
    align-items: center;
  }

  .form-div,
  .contact-form {
    align-items: center;
  }
}

.email-send {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 1s ease, transform 1s ease;

  p {
    background-color: #3DCFB6;
    border-radius: 10px;
    padding: 16px;
    color: rgb(21, 21, 21);
    font-size: 24px;
    font-weight: 800;
  }

  &.show {
    display: flex;
    opacity: 1;
    transform: scale(1);
  }
}



