<div class="content">
  <span class="img-span">
    <img src="/assets/img/questions1.png" alt="">
  </span>
  <span class="contact-span">
    <div class="headline">
      <div>
        <h2>KONTAKT</h2>
        <div class="underline"></div>
      </div>
    </div>
    <div class="form-div">
      <div><h3 class="text-underline">Noch Fragen oder gefallen dir meine Projekte? Dann schreib mir doch einfach eine E-Mail.</h3></div>
      <form action="submit" class="contact-form">
        <div>
          <h3>Name*</h3>
          <input type="text" placeholder="Name...">
          <h3>Email*</h3>
          <input type="email" placeholder="E-Mail-Adresse...">
          <h3>Nachricht*</h3>
          <textarea name="" id="" type="text" placeholder="Nachricht..."></textarea>
        </div>
        <div class="btn-div">
          <button>Senden</button>
        </div>
      </form>
    </div>
  </span>
</div>
