.content {
  width: 100%;
  display: flex;
}

.headline {
  width: 100%;
  color: rgb(243, 249, 248);
  font-size: 24px;

  flex-direction: column;
  padding-bottom: 50px;
}

.underline {
  background-color: #3DCFB6;
  height: 3px;
  width: 50px;
}

.form-div {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;

  h3 {
    color: white;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 16px;

  div {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;

    button {
      padding: 8px 16px;
      border-radius: 8px;
    }
  }
}

input {
  height: 15px;
  border: 2px ridge #3DCFB6;
  border-radius: 6px;
  padding: 8px;

  &::placeholder {
    color: #151515;
  }
}

textarea {
  height: 300px;
  border: 2px ridge #3DCFB6;
  border-radius: 6px;
}

.img-span {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 80%;
    height: 70%;
    border: 2px ridge #3DCFB6;
    border-radius: 8px;
  }
}

.contact-span {
  width: 50%;
}

.btn-div {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    border: 2px ridge #3DCFB6;
    border-radius: 8px;
    transition: background-color ease-in-out .2s, color ease-in-out .2s;

    &:hover {
      background-color: #3DCFB6;
      color: white;
      cursor: pointer;
    }
  }
}