<div class="content">
    <div class="headline">
        <div>
            <h2>CONTACT</h2>
            <div class="underline"></div>
        </div>
    </div>
    <div class="form-div">
        <form action="submit" class="contact-form">
            <div>
                <input type="text" placeholder="Name...">
                <input type="email" placeholder="E-Mail-Adresse...">
                <input type="text" placeholder="Nachricht...">
            </div>
            <div>
                <button>Senden</button>
            </div>
        </form>
    </div>
</div>