<div class="content">
  <div class="headline">
    <div>
      <h2>STACK</h2>
      <div class="underline"></div>
    </div>
  </div>

  <div>
    <div class="txtContainer">
      <span>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit vel fugit enim possimus deserunt dolor
        vero cupiditate illum porro obcaecati esse qui exercitationem dicta sint suscipit, tempore corporis
        atque laboriosam.</span>
      <span>
        <div>
          <h2>HTML</h2>
          <img src="" alt="">
        </div>
        <div class="score">
          <div class="scoreFilled"></div>
          <div class="scoreNotFilled"></div>
        </div>
      </span>
    </div>

    <div class="stackContainer">
      <span>
        <div>
          <h2>CSS</h2>
          <img src="" alt="">
        </div>
        <div class="score">
          <div class="scoreFilled"></div>
          <div class="scoreNotFilled"></div>
        </div>
      </span>
      <span>
        <div>
          <h2>JAVASCRIPT</h2>
          <img src="" alt="">
        </div>
        <div class="score">
          <div class="scoreFilled"></div>
          <div class="scoreNotFilled"></div>
        </div>
      </span>
      <span>
        <div>
          <h2>TYPESCRIPT</h2>
          <img src="" alt="">
        </div>
        <div class="score">
          <div class="scoreFilled"></div>
          <div class="scoreNotFilled"></div>
        </div>
      </span>
      <span>
        <div>
          <h2>ANGULAR</h2>
          <img src="" alt="">
        </div>
        <div class="score">
          <div class="scoreFilled"></div>
          <div class="scoreNotFilled"></div>
        </div>
      </span>
      <span>
        <div>
          <h2>PYTHON</h2>
          <img src="" alt="">
        </div>
        <div class="score">
          <div class="scoreFilled"></div>
          <div class="scoreNotFilled"></div>
        </div>
      </span>
      <span>
        <div>
          <h2>DJANGO</h2>
          <img src="" alt="">
        </div>
        <div class="score">
          <div class="scoreFilled"></div>
          <div class="scoreNotFilled"></div>
        </div>
      </span>
    </div>
  </div>
  <div class="img-div"><img src="/assets/img/FrontendZeugnis.jpg" alt=""><img
      src="/assets/img/BackendZeugnis.jpg" alt=""></div>
</div>
