.content {
    color: rgb(243, 249, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headline {
    width: 100%;
    color: rgb(243, 249, 248);
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.underline {
    background-color: #3DCFB6;
    height: 3px;
    width: 50px;
}

.txtContainer {
    display: flex;
    padding: 0px 10px;
    gap: 16px;
    padding-bottom: 16px;

    span {
        border: 1px solid rgb(243, 249, 248);
    }

    :first-child{
        max-width: 1200px;
    }
}

.stackContainer {
    display: flex;
    padding: 0px 10px;
    gap: 16px;

    span {
        border: 1px solid rgb(243, 249, 248);
    }
}

.img-div{
 padding: 20px 0px;
 display: flex;
 gap: 16px;
 width: 100%;
 justify-content: center;

  img{

   width: 550px;
   height: 400px;
  }
}
