<div class="content">
  <div class="headline">
    <div>
      <h2>FÄHIGKEITEN</h2>
      <div class="underline"></div>
    </div>
  </div>

  <div class="infoText" #infoText>
    <div class="txtContainer">
      <span>
        <p>
          Seit März 2023 konzentriere ich mich in meiner Freizeit und seit Juli 2024 auch beruflich darauf, meine
          Fähigkeiten in der Webentwicklung zu verbessern. Dabei habe ich mein Wissen und meine Kenntnisse
          kontinuierlich erweitert – von einfachen,
          statischen HTML-Webseiten bis hin zu komplexen Webanwendungen. Schau dir an, welche Technologien ich dafür
          genutzt habe und mit welchen ich inzwischen vertraut bin.
        </p>
      </span>

      <span>
        <div>
          <h2>HTML</h2>
          <img src="/assets/img/html5-logo.png" alt="">
        </div>
      </span>
    </div>

    <div class="stackContainer">
      <span>
        <div>
          <h2>CSS</h2>
          <img src="/assets/img/css.png" alt="">
        </div>
      </span>
      <span>
        <div>
          <h2>JAVASCRIPT</h2>
          <img src="/assets/img/JS.png" alt="">
        </div>
      </span>
      <span>
        <div>
          <h2>TYPESCRIPT</h2>
          <img src="/assets/img/TS.png" alt="">
        </div>
      </span>
      <span>
        <div>
          <h2>ANGULAR</h2>
          <img src="/assets/img/Angular.png" alt="">
        </div>
      </span>
      <span>
        <div>
          <h2>PYTHON</h2>
          <img src="/assets/img/python.png" alt="">
        </div>
      </span>
      <span>
        <div>
          <h2>DJANGO</h2>
          <img src="/assets/img/Django.png" alt="">
        </div>
      </span>
    </div>
  </div>
  <div class="img-div"><img class="imgFrontend" #imgFrontend src="/assets/img/FrontendZeugnis.jpg" alt=""><img class="imgBackend" #imgBackend src="/assets/img/BackendZeugnis.jpg"
      alt=""></div>
</div>
